<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cmput301w15t13"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <!-- Add permission for camera (android.permission.CAMERA) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Add permission for writing to external storage (android.permission.WRITE_EXTERNAL_STORAGE) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    

	



    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        

	
        <activity
            android:name="ca.ualberta.cmput301w15t13.Activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ca.ualberta.cmput301w15t13.Activities.ClaimActivity" >
        </activity>
        <activity
            android:name="ca.ualberta.cmput301w15t13.Activities.PrimitivePhotoActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="ca.ualberta.cmput301w15t13.Activities.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="ca.ualberta.cmput301w15t13.Activities.ExpenseActivity"
            android:label="@string/title_activity_expense_viewer" >
        </activity>
        <activity
            android:name="ca.ualberta.cmput301w15t13.Activities.EditTag"
            android:label="@string/title_activity_edit_tag" >
        </activity>
        <activity
            android:name="dialogs.TagChoiceFrgament"
            android:label="@string/title_activity_tag_choice_frgament" >
        </activity>
        <activity
            android:name="dialogs.FilterFragmentDialog"
            android:label="@string/title_activity_filter_fragment_dialog" >
        </activity>
    </application>

</manifest>
